*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato";
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(320deg,#cb92bc,#ffef78, #63c9b4);
}
.dark{
    background: linear-gradient(320deg,#0B090A, #A4161A, #D3D3D3);

}
.calc{
    position: relative;
    width: 21.25rem;
    padding: 1.25rem;
    border-radius: 1.25rem;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1),
    -15px -15px 20px #fff ;
}
.dark .calc{
    background: #33393e;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.25),
    -15px -15px 20px rgba(225, 225, 225, 0.1);

}
.calc .buttons{
    position: relative;
    display: grid;
}
.calc .buttons #screen{
    position: relative;
    grid-column: span 4;
    overflow: none;
    user-select: none;
    width: 100%;
    height: 6.25rem;
    text-align: end;
    color: rgb(50, 50, 189);
    line-height: 6.25rem;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1),
    inset -5px -5px 20px #fff ;
    border-radius: 10px;
    margin-bottom: 0.75rem;
    padding: 0 1.25rem;
    font-size: 2rem;
}
.dark .calc .buttons #screen{
    background: #33393e;
    color: #eee;
    box-shadow: inset 15px 15px 20px rgba(0, 0, 0, 0.5),
    inset -15px -15px 20px rgba(225, 225, 225, 0.1);
}
.calc .buttons span{
    position: relative;
    padding: 10px;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1),
     -5px -5px 20px #fff ;
     margin: 0.625rem;
     cursor: pointer;
     user-select: none;
     display: flex;
     justify-content: center;
     align-items: center; 
     border-radius: 50%;
     min-width: 2.5rem;
     font-size: 1.2rem;

}
.dark .calc .buttons span{
    color: #eee;
    /* border: 2px solid #333; */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25),
    -5px -5px 10px  rgba(225, 225, 225, 0.1);
    
}
.calc .buttons span:active{
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1),
    inset -5px -5px 20px #fff ;
    color: rgb(236, 57, 57);
}
.dark .calc .buttons span:active{
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.25),
     inset -5px -5px 10px  rgba(225, 225, 225, 0.1);

}
.calc .buttons span#clc{
    grid-column: span 2;
    border-radius: 6.25rem;
    background: rgb(248, 162, 2);
    color: #fff;

}
.calc .buttons span#plus{
    grid-row: span 2;
    border-radius: 6.25rem;
}
.calc .buttons span#equal{
   
    background: rgb(248, 162, 2);
    color: #fff;

}
.dark .calc .buttons span#clc:active,
.dark .calc .buttons span#equal:active{
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1);

}
.calc .buttons span#clc:active,
.calc .buttons span#equal:active{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),
    -5px -5px 10px #fff,
    inset 5px 5px 10px rgba(0, 0, 0, 0.1) ;
    color: black;

}
.toggleBtn{
    position: fixed;
    top: 1.25rem;
    right: 1.25rem;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background: #555;
    cursor: pointer;
    border: 2px solid #edf1f4;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),
    -5px -5px 10px #fff;



}